// MTから持ってきたコンテンツへのスタイリング
.content {
  a {
    text-decoration: underline;
  }

  table {
    th,
    td {
      border: solid 1px #ccc;
      padding: 8px;
    }
  }

  * + * {
    margin-top: 24px;
  }
}
