---
import Layout from '@/layouts/Layout.astro';
import { Box, Center, Container, Grid, HStack, styled } from 'styled-system/jsx';
import { getEntries } from '@/hooks/getEntries';
import { getWebpages } from '@/hooks/getWebpages';
import Heading from '@/components/Heading';
import ArticleContainer from '@/components/ArticleContainer';
import Button from '@/components/Button';
import PageContainer from '@/components/PageContainer';

const posts = await getEntries(6);
const pages = await getWebpages(3);

type PageType = Record<string, string>;
---

<Layout>
  <main>
    <Container px="64px" py="64px">
      <Box>
        <Heading>注目のコンテンツ</Heading>
        <PageContainer pages={pages} />
      </Box>
      <Box mt="48px">
        <Heading>最新記事</Heading>
        <ArticleContainer posts={posts} />
        <Center mt="32px">
          <Button label="すべて見る" href="/news/" />
        </Center>
      </Box>
    </Container>
  </main>
</Layout>
