---
import Footer from './Footer';
import Header from './Header';
import '@/styles/global.scss';

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : 'Astro + MT demo'}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
